---
import Alapalkki from "../components/Alapalkki.astro";
import Hero from "../components/Hero.astro";
import Valikko from "../components/Valikko.astro";
const { title, heroteksti, herokuva, ylapalkivari, alapalkivari, heropainike } =
  Astro.props;
---

<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atk-huolto</title>
  </head>
  <body> </body><style>
    body,
    html {
      height: 100%;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    .sisalto {
      font-size: 20px;
      background-color: #ffffff;
      min-height: 900px;
      border-style: solid;
      border-bottom-width: thin;
    }

    .otsikko {
      border-bottom-style: solid;
      border-bottom-width: thin;
    }

    body {
      background-color: rgb(255, 255, 255);
    }
  </style>
  <html>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="x-ua-compatible" content="ie-edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />

      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
        rel="stylesheet"
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
      />
      <title>{title}</title>
    </head>
    <body>
      <Hero otsikko={heroteksti} tausta={herokuva} painike={heropainike} />
      <article>
        <Valikko taustavari={ylapalkivari} />

        <div class="sisalto">
          <slot />
        </div>

        <Alapalkki taustavari={alapalkivari} />
      </article>
    </body>
  </html>
</html>
