---
import Alapalkki from "../components/Alapalkki.astro";
import Hero from "../components/Hero.astro";
import Valikko from "../components/Valikko.astro";
import nettisivu from"..layouts/nettisivu.astro"


const { title, heroteksti, herokuva, ylapalkivari, alapalkivari, heropainike } =
  Astro.props;
---
    <nettisivu>
      <Hero otsikko={heroteksti} tausta={herokuva} painike={heropainike} />
      <article>
        <Valikko taustavari={ylapalkivari} />

        <div class="sisalto">
          <slot />
        </div>

        <Alapalkki taustavari={alapalkivari} />
      </article>
    </nettisivu>
 